.footer
	background: $blanco
	margin: 0 0
.footer__container
	max-width: 1540px
	margin: auto
	padding: 0px 20px
.footer__row
	display: flex
	flex-direction row
	flex-wrap: wrap
	justify-content: flex-start
.footer-bottom
	margin-top: 30px
	// padding: 30px 0px 40px 0px
	p
		font-family: $t-0
		font-size: 14px
		color: $c-0
	a
		color: $c-0
.derechos__left, .creditos-right
	margin: auto
.creditos-right
	text-align: right
.footer__logo
	text-align: center
	img
		width: 227px
.footer__redes
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	a
		display: block
		margin: 20px
.staffdigital
	position: relative
	&:before
		content: "\e60e"
		position: absolute
		right: -4px
		font-family: icomoon
		font-size: 18px
		color: $c-0
		top: -11px
		width: 10px
		height: 10px
.staffdigital
	position: relative
	&:before
		content: "\e60e"
		position: absolute
		right: -4px
		font-family: icomoon
		font-size: 18px
		color: $c-0
		top: -11px
		width: 10px
		height: 10px
@media screen and(max-width: 1024px)
	 .footer__logo
	 	display: none
	 .derechos__left, .creditos-right
	 	text-align: center