.div-example
	height: 2000px
	width: 100%
	background: red 

.header-wrap
	position: relative
.header-alto
	.header-list
		right: -1300px


.header-fixed
	position: fixed
	top: 0px
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: transparent
	transition: all .2s linear

// .header-bg
// 	position: absolute
// 	left: 0
// 	width: 100%
// 	height: 100%
// 	background: $blanco
// 	top: -100%
// 	transition: all .2s linear

.header-fixed.scrolling
	// box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
	// height: 70px
	.header-bg
		top: 0
	.header-link
		color: $c-2
	.header-languages-select select
		color: $c-2
	.header-languages-select:before
		color: $c-2
	.header-logo-desktop
		opacity: 0
		visibility: hidden
	.header-logo-scroll
		width: 80%
		opacity: 1
		visibility: visible

.header-cnt
	display: flex
	height: 100%
	align-items: center
	justify-content: flex-end
	flex-direction: row
	max-width: 1240px
	margin: auto
	padding: 0 20px 
	position: relative
	box-sizing: border-box

// header logo
.header-logo
	max-width: 100%
	// max-width: 230px
	position: absolute
	top: 10px
	left: 20px
	img 
		display: block
		height: auto
		width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
	.header-logo-scroll
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		transition: all .2s linear

.header-cnt-list
	display: flex
	align-items: center
	position: absolute
	right: 0
	justify-content: flex-end

// header list
.header-list
	display: flex
	position: fixed
	right: 0
	left: 100%
	transition: all 950ms ease-in-out
	width: 615px
	transform: translate(-60%, -29%) rotate(-90deg)
	top: 50%
	.header-item
		display: inline-block
		margin-right: 13px
		&:lastt-child
			margin-right: 0

	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: $blanco
		font-size: 15px
		line-height: 15px
		border: none
		padding-left: 20px
		padding-right: 20px
		padding-top: 8px
		font-family: $t-3
		width: 140px
		background-color: #eef0f3
		text-decoration: inherit
		position: relative
		padding-bottom: 7px
		margin-top: 7px
		transition: all .35s ease-in-out
		span
			font-size: 14px
			color: #404349
			font-family: $t-3
		h2
			font-size: 14px
			color: #404349
			font-family: $t-3
		&:before
			content: ""
			display: none
			position: absolute
			top: -7px
			left: 0
			width: 0
			height: 7px
			background: $c-0
			width: 100%
			transition: .4s top ease-in-out

	//hover
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		background-color: #ef8d1e
		span
			color: white
		h2
			color: white
		.header-link
			&:before
				background: #ef8d1e
	//active
	.header-link.active
		color: $blanco
		border: none
		text-decoration: inherit
		background-color: #ef8d1e
		h2
			color: white
		span
			color: white
		&:before
			background: #efc596
			display: block
	a:focus
		outline: none

//hover & active with class scrolling
.header-fixed.scrolling
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 100%
	.header-link.active
		color: $blanco
		border: none
		text-decoration: inherit



//languages
.header-languages
	padding-left: 20px
	position: relative
	&:before 
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 3px
		background: $c-0

.header-languages-select
	position: relative
	display: inline-block
	cursor: pointer
	select 
		width: 80px
		border: none
		border-radius: none
		background: none 
		color: $blanco
		font-family: $t-0
		font-size: 13px
		appearance: none
		box-sizing: border-box
		cursor: pointer
	option 
		color: $c-0 
	&:before 
		display: block
		content: "\e608"
		font-family: icomoon
		position: absolute
		top: 0px
		right: 0
		color: $blanco
		font-size: 17px
		pointer-events: none

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: flex
		flex-direction: column-reverse
		margin-top: 20px
	.header-item
		display: block
		width: 210px
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 15px
		color: $c-3
		text-decoration: inherit
		span
			font-size: 14px
		h2
			font-size: 14px
	.header-languages-select
		padding-left: 30px
		margin-top: 20px
	.header-languages-select select
		color: $c-0 
		font-size: 14px
		width: 90px
	.header-languages-select:before
		color: $c-0

.menu-sidebar
	.header-link.active 
		background: $c-0
		color: $blanco 


.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: block
	.header-logo-scroll
		display: block

.header-oculto
	.header-cnt-list
		display: none



.menu-mobile-close, .menu-mobile-open
	background: $c-0
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 15px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1030

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-0
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden

@media screen and (max-width: 1024px)
	//media query header
	.header-cnt-list
		display: none

	.header-languages
		display: none

	.header-fixed
		height: 60px

	.header-fixed.scrolling .header-logo-scroll
		width: 100%
	
	.header-fixed.scrolling .header-logo
		max-width: 80px

	.header-logo
		max-width: 80px
	.header-logo
		display: block
		max-width: 230px
	.footer__redes
		a
			color: #808488

	// .header-logo .header-logo-desktop
	// 	opacity: 0
	// 	visibility: visible

	// .header-logo .header-logo-scroll
	// 	opacity: 1
	// 	visibility: visible
	
	// .header-bg
	// 	top: 0

	.menu-mobile-close, .menu-mobile-open
		display: block

	.header-fixed.scrolling
		height: 60px
	
// @media screen and (max-width: 640px)
// 	.responsive-logo
// 		display: none
