footer#footer.footer(role='contentinfo')
  .footer-bottom
      .footer__container
        .footer__row
          .derechos__left
             p Todos los Derechos Reservados 2017
          .footer__logo
              a
                img(src=`${STATIC_URL}img/logo-concreta.png` alt="Grupo Concreta")
              .footer__redes
                //- a.redes(href="#")
                //-   .icon-icono-05
                //- a.redes(href="#")
                //-   .icon-icono-04
                a.redes(href="https://www.instagram.com/concretagrupo/?hl=es")
                  .icon-instagram-logo
                a.redes(href="https://www.facebook.com/grupoconcretasac/")
                  .icon-icono-02
          .creditos-right
             p Diseño de páginas web 
              a.staffdigital(href='https://www.staffdigital.pe/', target='_blank') Staff Digital