
.header-wrap
	.header-fixed
		.header-bg
		.header-cnt
			a(href="home").header-logo
				img.header-logo-desktop(src=`${STATIC_URL}img/logo.png`, alt="")
				
			.header-cnt-list
				ul.header-list
					li.header-item
						a.header-link.menu_a4.miclase.h-link-item.h-link-ancla(data-url='/contacto/',href="#contacto",data-title='contacto')
							span 04
							h2  CONTACTO
					li.header-item
						a.header-link.menu_a3.miclase.h-link-item.h-link-ancla(data-url='/ubicacion/',href="#ubicacion",data-title='ubicacion')
							span 03
							h2  UBICACIÓN
					li.header-item
						a.header-link.menu_a2.miclase.h-link-item.h-link-ancla(data-url='/proyectos/',href="#proyectos",data-title='proyectos')
							span 02
							h2  PLANOS
					li.header-item
						a.header-link.menu_a1.miclase.h-link-item.h-link-ancla(data-url='/galeria/',href="#galeria",data-title='galeria')
							span 01 
							h2  DESCRIPCIÓN
							
		
				


//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close
.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt
	.texto
			.footer__redes
				a.redes(href="#")
					.icon-icono-05
				a.redes(href="#")
					.icon-icono-04
				a.redes(href="#")
					.icon-instagram-logo
				a.redes(href="#")
					.icon-icono-02