extends ./_common/base.pug

//- Contenido
block content
	section.banner
		.banner__container
			.banner__column.banner__column--right
				.banner__img__content
					.banner__background(style="background-image: url('../assets/img/banner_img.jpg');")
			.banner__column.banner__column--left
				.banner__text__content
					.banner__text
						span Monte Flor 340
						h1 Vive exclusivo 
							strong en chacarilla
						p Chacarilla - Surco
						a.btn.btn-enlace.btn--sombra( href='#') Contacto

//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
			$('.banner__text').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						$('.banner__text').addClass('active');
					}
				}, {
					offset:'80%'
				});
			});
		})