extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/fancy/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/fancy/fancy-full/lg-transitions.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.wrapper
		span.linea__vertical.linea--uno
		span.linea__vertical.linea--dos
		span.linea__vertical.linea--tres
		span.linea__vertical.linea--cuatro
		span.linea__horizontal.linea--uno--horizontal
		span.linea__horizontal.linea--dos--horizontal
		span.linea__horizontal.linea--tres--horizontal
		span.linea__horizontal.linea--cuatro--horizontal
		span.linea__horizontal.linea--cinco--horizontal
		section.banner#banner
				.banner__container
					.banner__column.banner__column--right
						.banner__img__content
							.banner__background(style="background-image: url('../assets/img/banner_img.jpg');")
					.banner__column.banner__column--left
						.banner__text__content
							.banner__text
								span Monte Flor 340
								h1 Vive exclusivo 
									strong en chacarilla
								p Chacarilla - Surco
								a.btn.btn-enlace.btn--sombra.miclase( href='#ubicacion') Contacto
		section.galeria#galeria
			.galeria__wrapp
				.galeria__box__text
					.galeria__box__cont
						.galeria__title
							.title__general
								h3 GALERÍA DE
									strong FOTOS
						.galeria__text
							p Monte Flor 340 es un proyecto de la empresa Grupo Concreta quien cuenta con una experiencia de mas de 30 Edificios Multifamilares, Condominios y Casas de Playa en los ultimos 12 años. Los Edificios Multifamilares se encuentran en Chacarilla Surco, San Borja, Miraflores y San Isidro.
							.galeria__button
								a.btn.btn-enlace.btn--orange.lightgallery__image--pitcher( href='#') VER GALERÍA
									
					.galeria__count
						.galeria__count__box
							h3 ÚLTIMOS
							h2.counter(data-count='6') 0
							span DEPARTAMENTOS
								br
								| EXCLUSIVOS
				.galeria__box__image
					.galeria__box__image__item.galeria__bgc__uno
						.galeria__item__bgc(style=`background-image: url(${STATIC_URL}img/concreta-imagen-original.jpg)`)
					.galeria__box__image__item.galeria__box__dos.galeria__bgc__dos
						.galeria__item__bgc.galeria__flot(style=`background-image: url(${STATIC_URL}img/concreta-imagen-original2.jpg)`)
						p *Imágenes referenciales
					.galeria__box__image__item.galeria__bgc__tres
						.galeria__item__bgc(style=`background-image: url(${STATIC_URL}img/concreta-imagen-original3.jpg)`)
				.galeria-proyectos
					.galeria-pryectos__content
						.galeria-proyectos__item
							.galeria-proyectos__item__box
								.galeria-proyecto__icono
									img(src=`${STATIC_URL}img/icono-02.png`, width="71", height="71", alt="")
								h2 DEPARTAMENTOS
								h3 DESDE 193 M2
							.galeria__box__hover
								h2 DEPARTAMENTOS
								h3 DESDE 193 M2
								p Edificio exclusivos de 5 pisos , con departamentos desde 193 m2.
						.galeria-proyectos__item
							.galeria-proyectos__item__box
								.galeria-proyecto__icono
									img(src=`${STATIC_URL}img/icono-03.png`, width="71", height="71", alt="")
								h2 02 ASCENSORES
								h3 DIRECTOS
							.galeria__box__hover
									h2 02 ASCENSORES
									h3 DIRECTOS
									p Dos ascensores directos al departamento.
						.galeria-proyectos__item
							.galeria-proyectos__item__box
								.galeria-proyecto__icono
									img(src=`${STATIC_URL}img/icono-06.png`, width="71", height="71", alt="")
								h2 DEPARTAMENTOS
								h3 DESDE 193 M2
							.galeria__box__hover
								h2 FINOS
								h3 ACABADOS
								p Sala, comedor, 3 dormitorios con baño incorporado, sala de estar, cocina, lavandería, cuarto y baño de servicio.
						.galeria-proyectos__item
							.galeria-proyectos__item__box
								.galeria-proyecto__icono
									img(src=`${STATIC_URL}img/icono-04.png`, width="71", height="71", alt="")
								h2 PARQUE
								h3 LA PILETA
							.galeria__box__hover
								h2 PARQUE
								h3 LA PILETA
								p Ubicación única y exclusiva con vista al parque La Pileta.
						.galeria-proyectos__item
							.galeria-proyectos__item__box
								.galeria-proyecto__icono
									img(src=`${STATIC_URL}img/icono-05.png`, width="71", height="71", alt="")
								h2 COCHERA PARA
								h3 2 O 3 AUTOS
							.galeria__box__hover
								h2 COCHERA PARA
								h3 2 O 3 AUTOS
								p Cocheras amplias para dos o tres autos.
			section.lightgallery__image__wrap(style='display: none;')
				#lightgallery__image--id.lightgallery__image
					a.lightgalley__image__item(href=`./${STATIC_URL}img/concreta-imagen-original.jpg`)
						img(src=`./${STATIC_URL}img/concreta-imagen-original.jpg`, alt='')
					a.lightgalley__image__item(href=`./${STATIC_URL}img/concreta-imagen-original2.jpg`)
						img(src=`./${STATIC_URL}img/concreta-imagen-original2.jpg`, alt='')
					a.lightgalley__image__item(href=`./${STATIC_URL}img/concreta-imagen-original3.jpg`)
						img(src=`./${STATIC_URL}img/concreta-imagen-original3.jpg`, alt='')
		section.proyectos#proyectos
			.proyectos__content
				.proyectos__title__proyectos
					.title__general
						h3 Planos del
							strong Proyecto
				.proyectos__container
					.slider__flechas__tabs
					.proyectos__tabs__container

						#tab_1.proyectos__items__box.lightgallery__image--pitcher1( href='#')
							-for (var i = 1; i <= 2; i++)
								.proyectos__item
									img(src=`${STATIC_URL}img/planos/duplex01.png`)
								.proyectos__item
									img(src=`${STATIC_URL}img/planos/duplex02.png`)

									//- p Hola
									
						#tab_2.proyectos__items__box.lightgallery__image--pitcher1( href='#')
							-for (var i = 1; i <= 2; i++)
								.proyectos__item
									img(src=`${STATIC_URL}img/planos/planta1.png`)
								.proyectos__item
									img(src=`${STATIC_URL}img/planos/planta2.png`)
								.proyectos__item
									img(src=`${STATIC_URL}img/planos/planta3.png`)
									//- p Chau
						#tab_3.proyectos__items__box.lightgallery__image--pitcher1( href='#')
							-for (var i = 1; i <= 2; i++)
								.proyectos__item
									img(src=`${STATIC_URL}img/planos/primer-piso-1.png`)
								.proyectos__item
									img(src=`${STATIC_URL}img/planos/primer-piso-2.png`)
								.proyectos__item
									img(src=`${STATIC_URL}img/planos/primer-piso-3.png`)
									//- p Lorem
						section.lightgallery__image__wrap(style='display: none;')
							#lightgallery__image--id1.lightgallery__image1
								a.lightgalley__image__item(href=`../${STATIC_URL}img/img_piso_slider.png`)
									img(src=`${STATIC_URL}img/img_piso_slider.png`, alt='')
								
				.proyectos__tabs__button
					a.proyectos__tabs(data-id="1", class="tab--display")
						span Dúplex 502
					a.proyectos__tabs(data-id="2", class="tab--display")
						span Planta Típica 
					a.proyectos__tabs(data-id="3", class="tab--display")
						span Primer Piso
		section.ubicacion#ubicacion
			.ubicacion__wrap
				.ubicacion__clone
				.ubicacion__box
					.ubicacion__item.ubicacion__item--box1
						.ubicacion__text__box
							.ubicacion__item__title
								.title__general
									h3 Nuestra
										strong Ubicación
							.ubicacion__item__text
								p Nos encontramos ubicados en la  Calle Monte Flor Nro 340 - Chacarilla, Surco. A metros del Parque César Vallejo.
						.ubicacion__item__bgc.ubicacion__bc__one(style=`background-image: url(${STATIC_URL}img/imagen-ubicacion.png)`)
					.ubicacion__item.ubicacion__item--box2
						.ubicacion__item__bgc(style=`background-image: url(${STATIC_URL}img/imagen-ubicacion2.png)`)
						.ubicacion__item__buton
							a.btn.btn-enlace.btn--orange( href='https://www.waze.com/es-419/livemap?zoom=17&lat=-12.11463&lon=-76.98172 ' target="_blank") VER UBICACIÓN
					.ubicacion__item.ubicacion__item--box3
						.ubicacion__item__bgc(style=`background-image: url(${STATIC_URL}img/imagen-ubicacion3.png)`)
		.botones__redes__responsive
			.botones__redes
				a(href="https://www.waze.com/es-419/livemap?zoom=17&lat=-12.11463&lon=-76.98172").boton__ubicaciones.boton__ubicaciones--waze
						.ubicacion__imagen__redes
							img(src=`${STATIC_URL}img/waze-icono.png`)
						.ubicacion__texto_redes
							h2 Llegar con
							h3 Waze
				a(href="//maps.google.com/maps/?ll=--12.1133445,-77.0276599,15").boton__ubicaciones.boton__ubicaciones--maps
						.ubicacion__imagen__redes
							img(src=`${STATIC_URL}img/map-icono.png`)
						.ubicacion__texto_redes
							h2 Llegar con
							h3 Google Maps

		.mapa__content
			section.mapcontacto#contacto
				.cnt-map
					.abrir-map Abrir mapa
					.box-map
						#google-maplima.map
						.btn-azul.cerrar-map cerrar mapa
			
			section.tabfull
			.tabcontacto
				.contac-nav
					.contac-padding
						.title__general
							h2 Escríbenos
							p Déjanos tu mensaje  y nosotros te responderemos a la brevedad posible. 
						.contac-form
							form(action="")
								ul
									li
										.contac-input
											input(type="text", id="form_nombres", name="form[nombres]", required="required", class="validate[required]")
											label(class="contacto--label" for="") Nombre
									li
										.contac-input
											input(type="text", id="form_telefono", name="form[telefono]", required="required", class="validate[required,custom[onlyNumberSp],minSize[7],maxSize[12]]")
											label(class="contacto--label" for="") Teléfono
									li
										.contac-input
											input(type="text", id="form_email", name="form[email]", required="required", class="validate[required,custom[email]]")
											label(class="contacto--label" for="") E-mail
									li
										.contac-input.contactextarea
											textarea(id="form_mensaje", name="form[mensaje]", required="required", class="validate[required]")
											label(class="contacto--label" for="") Mensaje
									.button__contacto
										button.btn.btn-enlace.btn--orange( href='') ENVIAR
				.contact__box__information
					.contact__information
						.text__information
							h5 Contáctanos
							.information
								p Ubícanos:
								a(href="#")
									span Av.Reynaldo de Vivanco 202 - Chacarilla . Surco
							.information
								p Escríbenos:
								a(href="mailto:ventas@grupoconcreta.com")
									span ventas@grupoconcreta.com
							.information
								p Llámanos:
								a(href="tel:01994 218 314")
									span 994 218 314
								a(href="tel: 01372-1063")
									span 372-1063 anexo 103

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-zoom.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------

			//- mapa-google
			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.1146347,-76.9826127); // <- Your latitude and longitude
				var styles = [
				    {
				        "featureType": "water",
				        "elementType": "geometry",
				        "stylers": [
				            {
				                "color": "#e9e9e9"
				            },
				            {
				                "lightness": 17
				            }
				        ]
				    },
				    {
				        "featureType": "landscape",
				        "elementType": "geometry",
				        "stylers": [
				            {
				                "color": "#f5f5f5"
				            },
				            {
				                "lightness": 20
				            }
				        ]
				    },
				    {
				        "featureType": "road.highway",
				        "elementType": "geometry.fill",
				        "stylers": [
				            {
				                "color": "#ffffff"
				            },
				            {
				                "lightness": 17
				            }
				        ]
				    },
				    {
				        "featureType": "road.highway",
				        "elementType": "geometry.stroke",
				        "stylers": [
				            {
				                "color": "#ffffff"
				            },
				            {
				                "lightness": 29
				            },
				            {
				                "weight": 0.2
				            }
				        ]
				    },
				    {
				        "featureType": "road.arterial",
				        "elementType": "geometry",
				        "stylers": [
				            {
				                "color": "#ffffff"
				            },
				            {
				                "lightness": 18
				            }
				        ]
				    },
				    {
				        "featureType": "road.local",
				        "elementType": "geometry",
				        "stylers": [
				            {
				                "color": "#ffffff"
				            },
				            {
				                "lightness": 16
				            }
				        ]
				    },
				    {
				        "featureType": "poi",
				        "elementType": "geometry",
				        "stylers": [
				            {
				                "color": "#f5f5f5"
				            },
				            {
				                "lightness": 21
				            }
				        ]
				    },
				    {
				        "featureType": "poi.park",
				        "elementType": "geometry",
				        "stylers": [
				            {
				                "color": "#dedede"
				            },
				            {
				                "lightness": 21
				            }
				        ]
				    },
				    {
				        "elementType": "labels.text.stroke",
				        "stylers": [
				            {
				                "visibility": "on"
				            },
				            {
				                "color": "#ffffff"
				            },
				            {
				                "lightness": 16
				            }
				        ]
				    },
				    {
				        "elementType": "labels.text.fill",
				        "stylers": [
				            {
				                "saturation": 36
				            },
				            {
				                "color": "#333333"
				            },
				            {
				                "lightness": 40
				            }
				        ]
				    },
				    {
				        "elementType": "labels.icon",
				        "stylers": [
				            {
				                "visibility": "off"
				            }
				        ]
				    },
				    {
				        "featureType": "transit",
				        "elementType": "geometry",
				        "stylers": [
				            {
				                "color": "#f2f2f2"
				            },
				            {
				                "lightness": 19
				            }
				        ]
				    },
				    {
				        "featureType": "administrative",
				        "elementType": "geometry.fill",
				        "stylers": [
				            {
				                "color": "#fefefe"
				            },
				            {
				                "lightness": 20
				            }
				        ]
				    },
				    {
				        "featureType": "administrative",
				        "elementType": "geometry.stroke",
				        "stylers": [
				            {
				                "color": "#fefefe"
				            },
				            {
				                "lightness": 17
				            },
				            {
				                "weight": 1.2
				            }
				        ]
				    }
				]
				var mapOptions = {
					zoom             : 17,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"../assets/img/icon_mapa.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".cnt-map .abrir-map").click(function(event) {
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				$(".box-map").removeClass('anima-map');
			});

			//- inputs
			var formBox = $(".contac-input input, .contac-input textarea")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});
				$('.banner__text').addClass('active')

			

			//- waypoint-footer
			 var footer_id=$('#galeria');
			 footer_id.waypoint(function(direction) {
				if (direction === 'down') {
					$('.counter').each(function() {
					var $this = $(this),
				  	countTo = $this.attr('data-count');
					  $({ countNum: $this.text()}).animate({
						countNum: countTo
					  },

					  {

						duration: 650,
						easing:'linear',
						step: function() {
						  $this.text(Math.floor(this.countNum));
						},
						complete: function() {
						  $this.text(this.countNum);
						  //alert('finished');
						}

					  });  
			  
				});

				}
			}, {
				offset:'50%'
			});



			

			//- $('.galeria__box__text').each(function(index, el) {
			//- 	$(el).waypoint(function(direction) {
			//- 		$('.counter').each(function() {
			//-   		var $this = $(this),
			//-       countTo = $this.attr('data-count');
			//- 		  $({ countNum: $this.text()}).animate({
			//- 		    countNum: countTo
			//- 		  },

			//- 		  {

			//- 		    duration: 650,
			//- 		    easing:'linear',
			//- 		    step: function() {
			//- 		      $this.text(Math.floor(this.countNum));
			//- 		    },
			//- 		    complete: function() {
			//- 		      $this.text(this.countNum);
			//- 		      //alert('finished');
			//- 		    }

			//- 		  });  
			  
			//- 	}, {
			//- 		offset:'100%'
			//- 	});
			//- });
			//- });
			//- slider-tab-proyectos
			$('.proyectos__items__box:first-child').addClass('active');

			$('.proyectos__items__box').each(function(i,el){
				i=i+1;
				$('.slider__flechas__tabs').append('<div class="slider__flechas flechas'+i+' '+(i==1?"active":"")+'">'
				+'<span class="flechas__prev flechas'+i+' icon-arrow-left"></span>'
				+'<span class="flechas__next flechas'+i+' icon-arrow-right"></span>'
				+'</div>');
				$(this).slick({
					infinite: true,
					autoplay: false,
					speed: 500,
					slidesToShow: 1,
					slidesScroll: 1,
					prevArrow: '.flechas__prev.flechas'+i,
					nextArrow: '.flechas__next.flechas'+i
				});
			});
			
			//- Tabs
			//- $('.tab--display:first-child').addClass("active");
			//- $('.proyectos__items__box:first-child').addClass("active");
			//- $('.tab--display').click(function(e) {
			//- 	e.preventDefault();
			//- 	$('.tab--display').removeClass('active');
			//- 	$(this).addClass('active');
			//- 	var data = $(this).attr('data-id');
			//- 	$('.proyectos__items__box').removeClass('active');
			//- 	$('.proyectos__items__box[id="'+data+'"]').addClass('active');
			//- });
			$('.tab--display:first-child').addClass("active");
			$('.proyectos__tabs__button a').click(function(e) {
				e.preventDefault();
				var dt = $(this).data('id');
				$('.proyectos__tabs__button a, .proyectos__items__box').removeClass('active');
				$(this).addClass('active');
				$('.slider__flechas').removeClass('active');
				$('.slider__flechas.flechas'+dt).addClass('active');
				$('.proyectos__items__box[id="tab_'+dt+'"]').addClass('active');
			});

			//- slider-proyecto
			if($(window).width() <= 1024){
				console.log("dsdsad")
				$('.galeria-pryectos__content').slick({
					nextArrow: '',
					prevArrow: '',
					infinite: true,
					dots: true,
					nav: false,
					autoplay: false,
					speed: 500,
					slidesToShow: 1
				});
			}
			//- clonacion
			$( ".ubicacion__text__box" ).clone().appendTo( ".ubicacion__clone" )
			//- galeria-proyecto
			$('#lightgallery__image--id').lightGallery({
				 selector:'a'
				 });
			$('.lightgallery__image--pitcher').click(function(e) {
				e.preventDefault();
					$('.lightgallery__image a').eq(0).trigger('click');
				});
			
			
			$('#lightgallery__image--id1').lightGallery({
				 selector:'a'
				 });
			$('.lightgallery__image--pitcher1').click(function(e) {
				e.preventDefault();
			$('.lightgallery__image1 a').click();
				 });

		});