// lineas
.wrapper
	position: relative
	.linea__vertical
		position: absolute
		width: 1px
		height: 100%
		left: 0
		top: 0
		background: rgba(128, 132, 136, 0.15)
	.linea--uno
		left: 20%
	.linea--dos
		left: 40%
	.linea--tres
		left: 60%
	.linea--cuatro
		left: 80%
	.linea__horizontal
		position: absolute
		width: 100%
		height: 1px
		left: 0
		top: 0
		background: rgba(128, 132, 136, 0.15)
	.linea--uno--horizontal
		top: 10%
	.linea--dos--horizontal
		top: 30%
	.linea--tres--horizontal
		top: 50%
	.linea--cuatro--horizontal
		top: 70%
	.linea--cinco--horizontal
		top: 90%

.banner
	padding-left: 55px
	margin-bottom: 62px	
.banner__container
	max-width: 1684px
	width: 100%
	display: flex
	// padding-left: 55px
	flex-direction: row-reverse
	flex-wrap: wrap
	justify-content: flex-start
.banner__column--left
	width: 52.4%
	padding-top: 225px
	display: flex
	align-items: flex-end
	margin-right: -30px
.banner__column--right
	width: 49.1%
.banner__text__content
	width: 100%
	background: linear-gradient(to bottom, #808488 0%, rgba(128, 132, 136, 0.67) 100%)
	position: relative
	overflow: hidden
.banner__text
	padding: 40px 60px 65px 60px
	z-index: 3
	span
		font-family: $t-1
		font-size: 39px
		color: $blanco
		text-transform: uppercase
		padding-bottom: 20px
		display: block
	h1
		font-size: 85px
		font-family: $t-2
		display: block
		color: $blanco
		line-height: 1
		text-transform: uppercase
		strong
			font-size: 77px
			font-family: $t-2
			display: block
	p
		font-size: 21px
		font-family: $t-0
		color: $blanco
		margin-bottom: 0
		padding: 25px 0px
		text-transform: uppercase
.banner__img__content
	width: 100%
	height: 590px
	position: relative
	&:before
		content: ''
		position: absolute
		width: 67px
		height: 360px
		border-bottom: 5px solid $blanco
		border-top: 5px solid $blanco
		border-right: 5px solid $blanco
		bottom: 40px
		left: 0px
		z-index: 0
.banner__background
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: bottom center
@media screen and (min-width: 1025px)
	.banner__text
		opacity: 0
		transform: scale(1.0) translate3d(0,100%,0)
		transition: transform 1000ms ease, opacity 100ms ease
	.banner__text.active
		opacity: 1
		transform: scale(1.0) translate3d(0,0,0)
@media screen and (max-width: 1690px)
	.banner__img__content
		height: 500px
	.banner__text
		padding: 40px 50px 50px 50px
		h1
			font-size: 65px
			strong
				font-size: 60px
@media screen and (max-width: 1325px)
	.banner
		padding-left: 0px
		padding-top: 75px
	.banner__column--left
		width: 90%
		margin: auto
		padding-top: 0
		margin-top: -80px
	.banner__column--right
		width: 100%
	.banner__img__content
		&:before
			display: none
@media screen and (max-width: 768px)
	.banner
		padding-top: 80px
	.banner__text
		span
			font-size: 30px
		h1
			font-size: 50px
			strong
				font-size: 47px
		p
			font-size: 20px
	.wrapper
		.linea__vertical
			display: none
		.linea--tres--horizontal
			display: none
@media screen and (max-width: 480px)
	.banner__text
		padding: 30px 20px 40px 20px
	.banner
		padding-top: 70px
	.banner__text
		span
			font-size: 18px
		h1
			font-size: 27px
			strong
				font-size: 25px
		p
			font-size: 16px
	.banner__img__content
		height: 400px

