.mapcontacto
	padding-top: 50px
	a
		color: inherit
		&:focus
			outline: none
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 670px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%
		.abrir-map, .cerrar-map
			display: inline-block
			height: 35px
			line-height: 35px
			cursor: pointer
			background: c-1
			color: blanco
			font-family: t-2
			border-radius: 5px
			padding: 0 30px
			display: none
			&:hover
				background: c-1
		.cerrar-map
			position: absolute
			left: 10px
			bottom: 30px
			z-index: 100

.tabcontacto
	max-width: 1367px
	width: 95%
	margin: auto
	display: flex
	justify-content: space-between
	flex-direction: row-reverse
	flex-wrap: wrap
	align-items: flex-start
	padding-bottom: 40px
.contac-nav
	width: 43%
	background: $blanco
	display: inline-block
	box-sizing: border-box
	padding-top: 130px
	position: relative
	margin-top: -740px
	box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.1)
	h2
		font-size: 60px
		font-family: $t-2
		color: $c-0
		margin-bottom: 0px
		padding-bottom: 10px
		text-transform: uppercase
	p
		text-align: left
.contac-padding
	padding: 0px 50px
.contc-info	
	padding-bottom: 65px
	padding-top: 65px
	opacity: 0
	visibility: hidden
	position: absolute
	top: 0
	&.active
		opacity: 1
		position: relative
		visibility: visible			
.contac-form
	width: 100%
	padding-top: 40px
	padding-bottom: 90px
	li
		flex-wrap: wrap
		display: flex
		justify-content: flex-start
.contac-input
	width: 100%
	margin-bottom: 45px
	position: relative
	input, textarea
		font-size: 14px
		color: $c-0
		width: 100%
		height: 40px
		border: none
		border-bottom: 2px solid $c-0
		font-family: $t-0
		text-transform: uppercase
	label
		position: absolute
		bottom: 14px
		left: 0
		color: $c-0
		font-size: 14px
		font-family: $t-0
		transition: all .3s
		text-transform: uppercase
.contac-input.active 
	input, textarea
		border-bottom: 2px solid $c-3
	label
		top: -10px
		font-size: 12px

.contactextarea
	width: 100%
	margin-right: 0 !important
.button__contacto
	text-align: center

.contact__box__information
	width: 54%
	margin-top: -185px
	z-index: 3
.contact__information
	width: 292px
	background-color: $c-0
.text__information
	padding: 30px
	color: $blanco
	h5
		font-family: $t-2
		font-size: 24px
		text-transform: uppercase
		margin-bottom: 0
		padding-bottom: 20px
	p
		font-family: $t-1
		font-size: 15px
		text-transform: uppercase
		margin-bottom: 0
		padding-bottom: 5px
	span
		font-family: $t-0
		font-size: 16px
		display: block
		text-transform: initial
	a
		color: white
		
.information
	padding-bottom: 16px

@media screen and(max-width: 1164px)
	.contac-nav
		h2
			font-size: 50px
@media screen and(max-width: 1025px)
	.contac-nav
		width: 55%
	.contact__box__information
		width: 45%
	.text__information
		padding: 25px
		h5
			font-size: 20px
	.information
		p
			font-size: 14px
		span
			font-size: 14px
@media screen and (max-width: 800px)
	.contac-nav
		width: 90%
		margin-top: 0
		margin: auto
		padding-top: 50px
		box-shadow: none
		h2
			font-size: 44px
	.contact__box__information
		width: 90%
		margin-top: 0
		margin: auto
	.contac-form
		padding-bottom: 60px
	.contact__information
		width: 100%
		text-align: center
	.mapcontacto
		.cnt-map
			.box-map
				height: 500px
@media screen and (max-width: 480px)
	.contac-nav
		width: 100%
	.contac-padding
		padding: 0px 20px
	.contact__box__information
		width: 95%
	.contac-nav
		h2
			font-size: 26px
	.text__information
		h5
			font-size: 18px
	.mapcontacto
		.cnt-map
			.box-map
				height: 400px