.error
	height: 100vh
.error__content
	max-width: 680px
	margin: auto
	height: 100vh
	display: flex
	flex-direction: column
	text-align: center
	padding-left: 10px
	padding-right: 10px
	margin-bottom: 99px
	align-items: center
	justify-content: center
	h2
		font-size: 78px
		font-family: $t-2
		color: $c-2
		margin-top: 99px
	h3
		font-size: 29px
		font-family: $t-2
		color: $c-0

	p
		font-size: 18px
		font-family: $t-0
		max-width: 479px
		color: #4b4d51
		margin: auto
		margin-top: 69px
		padding-bottom: 69px
@media screen and (max-width: 768px)
	.error__content
		h2
			font-size: 48px	
		h3
			font-size: 19px
		p
			margin-top: 49px
			margin-bottom: 49px	
			padding-bottom: 0
			font-size: 14px	