.galeria
	position: relative
	.lg-backdrop
		z-index: 1300
	.lg-outer
		z-index: 2660
.galeria__box__text
	display: flex
	flex-direction: row
	position: relative
	z-index: 1
	padding-right: 20px
	padding-left: 20px
	max-width: 1350px
	align-items: center
	margin: auto
.galeria__button
	padding-top: 39px
.galeria__text
	padding-top: 30px
	p
		max-width: 850px
		margin: auto
		font-family: $t-0
		font-size: 21px
		color: #4b4d51
		text-align: justify
.galeria__count__box
	color: $c-2
	h3
		font-size: 18px
		font-family: $t-0
		color: $c-2
	h2
		font-size: 160px
		font-family: $t-1
		color: $c-2
	span
		font-size: 24px
		font-family: $t-1
		color: $c-2
.galeria__count
	border: 1px solid $c-2
	margin-left: 150px
.galeria__count__box
	padding-left: 57px
	padding-top: 43px
	padding-bottom: 51px
	padding-right: 37px
.galeria__box__image
	display: flex
	margin-top: -30px
	margin-bottom: 200px
	justify-content: space-between
	align-items: flex-end
.galeria__box__image__item
	width: 33.33333%
.galeria__bgc__uno
	height: 460px
	margin-bottom: -105px
	margin-top: 66px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
.galeria__bgc__dos
	height: 477px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
.galeria__bgc__tres
	height: 402px
	margin-top: 145px
	margin-bottom: -77px
	background-position: center center
	background-repeat: no-repeat
.galeria__box__dos
	position: absolute
	right: 0
	left: 0
	margin: auto
	width: 45%
	p
		padding-left: 142px
		font-size: 17px
		color: $c-0
		font-family: $t-3
		padding-top: 35px
.galeria__item__bgc
	height: 100%
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
.galeria-pryectos__content
	max-width: 1200px
	margin: auto
	display: flex
	overflow: hidden
	position: relative
	justify-content: space-between
.galeria-proyectos
	margin-bottom: 100px
.galeria__box__hover
	background-color: $c-0
	position: absolute
	width: 100%
	top: 0
	bottom: 0
	transform: translateY(270px)
	padding-left: 30px
	padding-right: 24px
	transition: all 450ms ease
	h2
		font-size: 18px
		color: #ffffff
		padding-top: 30px
		margin: auto
	h3
		font-size: 18px
		color: #ffffff
	p
		font-size: 15px
		color: #ffffff
	&:before
		content: ""
		left: -2px	
		height: 100%
		width: 2px
		bottom: 0
		margin: auto
		top: 0
		background-color: $c-0
		position: absolute
.galeria-proyectos__item
	width: 20%
	padding-top: 39px
	padding-bottom: 75px
	position: relative
	&:before
		content: ""
		right: 0
		height: 80%
		width: 2px
		bottom: 0
		margin: auto
		top: 0
		background-color: $c-0
		position: absolute
	&:hover
		.galeria__box__hover
			transform: translateY(0)
	&:last-child
		&:before
			content: none
.galeria-proyecto__icono
	width: 71px
	height: 71px
	img
		max-width: 100%
		height: auto
.galeria-proyectos__item__box
	width: 100%
	padding-left: 15%
	position: relative
	h2
		font-size: 18px
		color: #4b4d51
		margin: auto
		font-family: $t-0
		font-weight: normal
		padding-top: 23px
	h3
		font-size: 18px
		color: $c-3
		font-family: $t-1
.icono__galeria
	font-size: 69px
.botones__redes__responsive
	padding: 10px
.boton__ubicaciones--waze
	margin-right: 3px
.botones__redes
	display: flex
.boton__ubicaciones--waze
	background-color: $c-1
	width: 50%
	display: flex
	align-items: center
	justify-content: center
	h2
		font-size: 16px
		font-family: $t-0
		margin: auto
		color: #808488
		font-weight: normal
	h3
		font-size: 16px
		font-family: $t-1
		margin: auto
		color: #808488
.boton__ubicaciones--maps
	background-color: $c-1
	width: 50%
	display: flex
	align-items: center
	justify-content: center
	h2
		font-size: 16px
		font-family: $t-0
		margin: auto
		color: #808488
		font-weight: normal
	h3
		font-family: $t-1
		font-size: 16px
		margin: auto
		color: #808488
.ubicacion__imagen__redes
	width: 50px
	height: 50px
	display: flex
	padding-right: 5px
	align-items: center
	img
		max-width: 50%
.botones__redes__responsive
	display: none
@media screen and (max-width: 1650px)
	.galeria__box__text
		max-width: 1200px
@media screen and (max-width: 1024px)
	.galeria__bgc__dos
		display: none
	.galeria__box__image__item
		width: 48%
	.galeria__bgc__tres
		margin-top: 0
	.galeria__bgc__uno
		margin-top: 50px
	.galeria-proyectos__item__box
		width: 50%
	.galeria__box__hover
		transform: none
		width: 50%
		position: relative
	.galeria
		.slick-initialized .slick-slide
			display: flex
			align-items: center
		.slick-dots
			position: absolute
			left: 0
			right: 0
			bottom: 0
			text-align: center
			display: flex
			max-width: 160px
			li
				font-size: 0
			button
				border: none
				border: 1px solid $c-2
				height: 13px
				background-color: transparent
				width: 13px
			.slick-active
				button
					background-color: $c-2
					border: none
					height: 13px
					width: 13px
	.galeria__box__hover 
		background-color: #f0f0f1
		h2
			color: $c-3
		h3
			color: $c-2	
		p
			color: $c-0
			font-family: $t-0
	.galeria-proyectos__item:before
		content: none
	.galeria__count
		margin-left: 40px
	.galeria__text
		p
			font-size: 14px	
	.galeria__box__hover
		h2, h3
			display: none
		padding-top: 20px
@media screen and (max-width: 992px)
	.galeria__count__box
		h3
			font-size: 15px
		h2
			font-size: 100px
		span
			font-size: 20px
	.galeria__box__image
		margin-bottom: 160px
@media screen and (max-width: 768px)
	.galeria__bgc__uno
		display: none
	.galeria__bgc__tres
		width: 100%
@media screen and (max-width: 576px)
	.galeria__box__text
		flex-direction: column
	.galeria 
		.slick-initialized .slick-slide
			flex-direction: column
	.galeria__box__hover
		width: 80%
	.galeria-proyectos__item__box
		padding-left: 0
		text-align: center
	.galeria-proyecto__icono
		margin: auto
	.galeria__box__image
		margin-bottom: 80px
	.galeria__count
		margin-left: 0
		margin-top: 12px
	.galeria__bgc__tres
		height: 343px
@media screen and (max-width: 480px)
	.galeria__bgc__tres
		height: 243px
	.botones__redes__responsive
		display: block





