.proyectos__content
	max-width: 1340px
	width: 100%
	margin: auto
	padding: 0px 20px 50px 20px
.proyectos__title__proyectos
	width: 90%
	margin: auto
	padding-bottom: 60px
.proyectos__tabs__button
	display: flex
	flex-direction: row
	flex-wrap: wrap
	transition: all 450ms ease
	justify-content: center
	align-items: center
	padding-top: 80px
.proyectos__tabs
	position: relative
	width: 16%
	margin: 0px 25px
	padding-top: 10px
	cursor: pointer
	min-height: 40px
	span
		font-family: $t-3
		font-size: 20px
		color: $c-7
		margin: 0px 10px
		position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 3px
		background-color: $c-8

.proyectos__tabs.active
	padding-top: 0
	transition: all 450ms ease
	&:before
		background-color: $c-3
	span
		font-size: 14px
		transition: all .3s
.proyectos__container
	position: relative

.slider__flechas
	display: none
	&.active
		display: block

.flechas__prev, .flechas__next
	display: inline-block
	width: 37px 
	height: 37px
	cursor: pointer
	line-height: 37px
	border: 1px solid $c-0
	font-size: 32px
	position: absolute
	z-index: 10
.flechas__prev
	left: 0
	bottom: 50%
.flechas__next
	right: 0
	bottom: 50%
.proyectos__tabs__container
	position: relative
	overflow: hidden
.proyectos__items__box
	width: 90%
	margin: auto
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	&.active
		position: relative
		opacity: 1
		visibility: visible
	.slick-prev, .slick-next
		background: red
		// border: 1px solid $c-0
		// width: 38px
		// height: 38px
		// &:before
		// 	content: '\e93f'
		// 	font-family: $icomoon
		// 	color: $c-0
@media screen and (max-width: 1500px)
	.proyectos
		.slider__flechas__tabs
			text-align: right
		.flechas__prev, .flechas__next
			position: relative
	.flechas__next
		top: inherit
		right: inherit
		left: inherit
	.flechas__prev
		top: inherit
		right: inherit
		margin-right: 20px
		left: inherit
	.slider__flechas__tabs
		padding-right: 11%
		margin-top: -95px
@media screen and (max-width: 1025px)
	.proyectos
		.slider__flechas__tabs
			text-align: right
		.flechas__prev, .flechas__next
			position: relative
	.flechas__next
		top: inherit
		right: inherit
		left: inherit
	.flechas__prev
		top: inherit
		right: inherit
		left: inherit
	.proyectos__items__box
		margin-top: 65px
@media screen and (max-width: 550px)
	.proyectos__tabs
		width: 32%
	.proyectos__tabs span
		font-size: 14px
	.proyectos__tabs__container
		margin-top: 42px


