.ubicacion
	padding-bottom: 147px
.ubicacion__wrap
	max-width: 1450px
	margin: auto
	padding-left: 20px
	padding-right: 20px
.ubicacion__item__bgc
	height: 415px
	background-size: cover
	width: 100%
	background-repeat: no-repeat
	background-position: center center
.ubicacion__box
	display: flex
	flex-direction: row
	justify-content: space-between
.ubicacion__item__text
	p
		font-size: 21px
		font-family: $t-0
		color: $c-0
.ubicacion__item
	width: 31%
.ubicacion__item--box3
	padding-top: 178px
.ubicacion__item__buton
	padding-top: 80px
	text-align: center
.ubicacion__bc__one
	margin-top: 65px
.ubicacion__clone
	.ubicacion__text__box
		display: none
.ubicacion__item--box2
	position: relative
	&:before
		content: ""
		left: 80%
		border: 1px solid rgba(0, 75, 113, 0.14)
		width: 310px
		z-index: -1
		height: 240px
		position: absolute
		top: -30px
.ubicacion__bc__one
	position: relative
	&:after
		content: ""
		right: 46%
		border: 1px solid rgba(0, 75, 113, 0.14)
		width: 310px
		z-index: -1
		height: 240px
		position: absolute
		bottom: -80px


@media screen and (max-width: 1024px)
	.ubicacion__item__bgc
		height: 394px
	.ubicacion__item--box3
		display: none
	.ubicacion__item
		width: 50%
	.ubicacion__item--box2
		position: relative
		&:before
			content: none
	.ubicacion__bc__one
		position: relative
		&:after
			content: none
	.ubicacion__item__text
		padding-top: 10px
		p
			font-size: 14px
@media screen and (max-width: 980px)
	.ubicacion__item__bgc
		height: 320px
	.ubicacion
		padding-bottom: 25px
@media screen and (max-width: 560px)
	.ubicacion__clone
		display: block
	.ubicacion__text__box
		display: none
	.ubicacion__clone
		.ubicacion__text__box
			display: block
	.ubicacion__item--box1
		display: none
	.ubicacion__item
		width: 100%
	.ubicacion__item__buton
		padding-top: 30px
@media screen and (max-width: 480px)
	.ubicacion__item__buton
		display: none
	.mapcontacto
		display: none

	
