// BUTTONS
.btn-enlace
	font-size: 15px
	font-family: $t-4
	font-weight: normal
	text-transform: uppercase
	height: 50px
	color: white
	background-color: $c-3
	border-radius: 0
	display: inline-block
	vertical-align: middle
	position: relative
	transition-duration: 0.1s
	line-height: 33px
	padding-left: 36px
	padding-right: 36px
	@media screen and (min-width: 1025px)
		&:hover
			color: $c-3
			background-color: white
			border: 2px solid $c-3

.btn--orange
	background-color: $c-3
	letter-spacing: 4px
.btn--sombra
	background-color: white
	color: $c-3
	font-family: $t-4
	transition: .6s all cubic-bezier(.19,1,.22,1)
	@media screen and (min-width: 1025px)
		&:hover
			box-shadow: 4px 8px 20px 2px rgba(0, 0, 0, 0.45)
			border: none
