.title__general
	h3
		font-size: 24px
		font-family: $t-2
		color: $c-0
		display: block
		text-transform: uppercase
		margin-bottom: 0
		strong
			font-size: 60px
			display: block
			text-transform: uppercase
			padding-top: 10px
	p
		font-size: 21px
		font-family: $t-0
		color: $c-0
		padding-top: 15px
		margin-bottom: 0
@media screen and(max-width: 1024px)
	.title__general
		h3
			font-size: 20px
			strong
				font-size: 50px
		p
			font-size: 14px
@media screen and (max-width: 768px)
	.title__general
		h3
			font-size: 18px
			strong
				font-size: 44px
		p
			font-size: 14px
@media screen and (max-width: 480px)
	.title__general
		h3
			font-size: 14px
			strong
				font-size: 26px
		p
			font-size: 13px

